<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- typeAliases标签配置别名-->
    <typeAliases>
        <package name="com.jack.kafka.bean"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/KafkaInMsgMapper.xml"/>
        <mapper resource="mapper/KafkaOutMsgMapper.xml"/>
    </mappers>
</configuration>